{% extends 'base.html' %}


{% block title %}
<title>Forgot password</title>
{% endblock %}


{% block content %}
<div class="w-100 d-flex justify-content-center align-items-center mt-5">
    <div class="card w-75 p-3 mt-5">
        <form method="post">
            {% csrf_token %}
            <h3 class="mb-4">Reset your password</h3>
            <input value="{{ email }}" required class="form-control mb-3" type="email" placeholder="Email" name="email">
            {% if code %}
            <p>We send verification code to your email address</p>
            <input required class="form-control mb-3" type="number" min="100000" placeholder="Your verification code" name="code">
            {% elif password %}
            <input value="{{ input_code }}" required class="form-control mb-3" type="number" min="100000" placeholder="Your verification code" name="code">
            <input required class="form-control mb-3" type="password" placeholder="Enter your new password" name="password">
            {% endif %}
            <button class="btn btn-success" type="submit">Done</button>
            <p class="text-danger">{{ error }}</p>
        </form>
    </div>
</div>

{% endblock %}